.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  height: 100%;
  margin-top: 60px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-message-backend {
  color: red;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 50px;
}

.submitBtn {
  background-color: black;
  color: white;
  padding: 8px;
  width: 80px;
  font-family: sans-serif;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

.submitBtn:hover {
  background-color: #0056b3;
}
